.gradle/
**/.gradle/

build/
**/build/

*.class
bin/
**/bin/

.vscode/
**/.vscode/
.idea/
*.iml
.classpath
.project
.settings/

.DS_Store
Thumbs.db

backend/src/main/resources/application.properties
*.log